<div id="top">
	<div class="center">
		<div id="toplink">
			<ul>
				<li>微商城
					<div id="pic"><img src="/images/-20180628113448.jpg"/></div>
				</li>
				<li><a href=" javascript:;">官方微博</a></li>
				<li><a href=" javascript:;">台湾元祖</a></li>
				
			</ul>
			
		</div>
		<div id="userbar">
			<ul id="header_ul">
				<li id="header_user"><a href="http://localhost:1807/html/register.html?">登录/注册</a></li>
				<li><a href="javascript:;">会员中心</a></li>
				<li><a href="javascript:;">购物车</a></li>
				<li><a href="javascript:;">元祖门店</a></li>
				<li><a href="javascript:;">帮助中心</a></li>
			</ul>
		</div>
	</div>
</div>

<div id="topbanner">
	<img src="/images/-120090.jpg"/>
</div>





<!---->
	
<!--header-->
<div id="header">
	<div id="logo"><img src="/images/15769-LOGO.png"/></div>
	<div id="search">
		<form action="" method="post">
			
			<input type="text" value="" placeholder="请输入搜索名称"/>
			<button type="submit">搜索</button>
			<p>热门搜索：
				<a href="">MUCH蛋糕</a>
				<a href="">精致西点</a>
			</p>
		</form>
	</div>
	<div id="tel"><img src="/images/4001103737.jpg"/></div>
</div>




<!--menu-->
<nav id="menu">
	<div id="center">
		<div id="submenu">
			<span>全部商品分类</span>
			<ul class="nav">
				<li class="hui_bg">
					<strong>
						<span></span>
						<a href="">元祖补冬季</a>
					</strong>
						<a href="">补冬礼盒</a>
						<a href="">补冬蛋糕</a>
				</li>
				<li>
					<strong>
						<span></span>
						<a href="">元祖补冬季</a>
					</strong>
						<a href="">补冬礼盒</a>
						<a href="">补冬蛋糕</a>
				</li>
				<li class="hui_bg">
					<strong>
						<span></span>
						<a href="">元祖补冬季</a>
					</strong>
						<a href="">补冬礼盒</a>
						<a href="">补冬蛋糕</a>
				</li>
				<li>
					<strong>
						<span></span>
						<a href="">元祖补冬季</a>
					</strong>
						<a href="">补冬礼盒</a>
						<a href="">补冬蛋糕</a>
				</li>
				<li class="hui_bg">
					<strong>
						<span></span>
						<a href="">元祖补冬季</a>
					</strong>
						<a href="">补冬礼盒</a>
						<a href="">补冬蛋糕</a>
				</li>
			</ul>
		</div>
		<ul id="menu">
			<li>元祖商城</li>
			<li>品牌故事</li>
			<li>企业试吃</li>
			<li>启蒙乐园</li>
			<li>联系我们</li>
		</ul>
	</div>
</nav>