#top{width:100%;
     height:34px;
     margin:0 auto;
     }
#top .center{width:1200px;
            height:100%;
            font-size: 12px;
            margin: 0 auto;
            background: #EEEEEE;}
#top .center #toplink{float: left;}

#top .center #toplink ul li{padding:0 25px;
                            height: 34px;
                            line-height: 34px;
                            float: left;}
#top .center #toplink ul li a{display: block;
                            height: 34px;
                            line-height: 34px;
                            color: #3C3C3C;}


#top .center #toplink ul li:first-child{position: relative;background:url(../images/icon_phone.png) no-repeat left center;}
#top .center #toplink ul li:first-child #pic{display: none;position: absolute;left:0;top:34px;}
#top .center #toplink ul li:first-child:hover #pic{display: block;} 
//#top .center #toplink ul li:first-child::after{content:"";padding:0 6px;background: url(../images/icon_arrow2.png) no-repeat center;}
#top .center #toplink ul li:nth-child(2){background: url(../images/icon_sina.png) no-repeat left center;}
#top .center #toplink ul li:nth-child(3){background: url(../images/icon_tw.png) no-repeat left center;}
#top .center #userbar{float:right;}
#top .center #userbar ul li{float:left;}
#top .center #userbar ul li:hover a{color:red;}
#top .center #userbar ul li a{display: block;
                             padding:0 10px;
                             color: #3C3C3C;
                             height: 34px;
                             line-height: 34px;
                             background: url(../images/1.gif) no-repeat right center;}


#topbanner{width:1200px;
            margin:0 auto;
            height:90px;}
            



//header
#header{width:1200px;
        height:95px;
        margin: 0 auto;}
#header #logo{width:202px;height:73px;
             padding-top:11px;
             margin-right:159px;
             float: left;}    
#header #logo img{margin-left:30px;}               
#header #search{width:522px;
              height:72px;
              padding-top:23px;
              float: left;
              color: #CDCDCD;
              width:552px;height: 72px;
              font-size: 12px;
              }
#header #search form input{width:409px;
                         height:30px;
                         float: left;
                         outline: none;
                         border:3px solid #c5023a;}          
#header #search form button{width:70px;height: 36px;background: #c5023a;
                                 color:white;
                                 font-size: 16px;
                                 
                                 border:none;}
#header #search form p{height:25px;line-height: 25px;}                                 
#header #search form p a{color:#CDCDCD;}

#header tel{width:240px; height: 95px;}



//menu
#menu{width:100%;
     height:40px;}
#menu #center{width:1200px;
            height:40px;
            margin:0 auto;
            box-sizing: border-box;
            border-bottom:2px solid #e9004f;}

#menu #center #submenu{width:225px;
                       height:40px;
                       line-height: 40px;
                       background: #e9004f;
                       color: white;
                       float:left;
                       text-align: center;
                       position:relative}
#menu #center #submenu:hover .nav{display: block;}                       
#menu #center #submenu span{font-size: 16px;}

#menu #center #submenu .nav{text-align: left;
                               display: none;
                               background: #FFFFFF;
                               position: absolute;
                               left:0;
                               top:40px;
                               }
#menu #center #submenu .nav li{ padding:5px 10px;
                                 width:205px;
                                 line-height: 27px;
                                 font-size: 12px;
                                 
                                 
                                }
#menu #center #submenu .nav li strong{
                                     height:27px;
                                     line-height: 27px;
                                     font-size: 13px;
                                     display: block;
                                                }
#menu #center #submenu .nav li a{color: #6B6B6B;
                                      margin-right:5px;
                                      line-height:20px;
                                      }

#menu #center #submenu .nav li.hui_bg{background-color: #EEEEEE;;
                                     
                                      }         
#menu #center #menu{float:left;
                     width:585px;
                     height:40px;
                     line-height: 40px;
                     }
#menu #center #menu li{padding:0 20px;
                       float: left;}
#menu #center #menu li:hover{color:#e9004f}