#hot #Recommend #RecommendTab .change{border-bottom: 2px solid #FF4400;
        background: url(/images/icon_arrow4.png) no-repeat center bottom;
}
#hot{width:1200px;
     height: 332px;
     margin-bottom: 13px;}
#hot #Recommend{width:908px;
                height:332px;
                float:left;}
#hot #Recommend #RecommendTab{
                          box-sizing: border-box;
                          width:908px;
                          height:54px;
                          margin-bottom: 11px;
                          
}

#hot #Recommend #RecommendTab li{width:227px;
                                height:54px;
                                float: left;
                                height:54px;
                                line-height: 54px;
                                font-size: 18px;
                                text-align: center;
                                border-bottom: 2px solid #000000;}

#hot #Recommend .tab_nth{width:908px;
                        height:264px;
                        display: none;
                        
                        }

#hot #Recommend .tab_nth ul{width:908px;
                           height:264px;}

#hot #Recommend .tab_nth ul li{width:183px;
                             height:249px;
                             float:left;
                             padding:13px 18px 0 18px;
                             margin-right: 7px;
                             border:1 solid #eeeeee;
                             box-sizing: content-box;}

#hot #Recommend .tab_nth ul li a{width:183px;
                              height:249px;
                              display: block;}
#hot #Recommend .tab_nth ul li a img{width:183px;
                                   height:183px;}
#hot #Recommend .tab_nth ul li strong{text-align: center;
                                       display: block;
                                       height:31px;
                                       line-height: 31px;
                                       font-size: 14xp;
                                       }

#hot #Recommend .tab_nth ul li p{text-align: center;
                                height:26px;
                                line-height: 26px;
                                font-size: 20px;
                                 color:#c70238;}

#hot #plag{width:273px;
              height:300px;
              margin-top: 30px;
              float:left;}      
#hot #plag .conbox{width:272px;
                      height:300px;
                      }             
#hot .plag .conbox a{display: block;
                        width:272px;
                        height:300px;
                        }   
#hot #plag .conbox a img{width:272px;
height:300px;} 
 
                                           
                        
                        
                        
                        
                        
                        
                        
                        
                                 
              
                                     
