@import "component/reset.scss";
@import "component/header.scss";
@import "component/tab.scss";
@import "component/column.scss";
@import "component/footer.scss";
//重置样式
*{margin: 0;padding:0;}
li{list-style: none;}
a{text-decoration: none;}


//top


//lunbo
#banner {width:1200px; height:438px; margin:0px auto;  }
#banner #lunbo{width:1010px;height:438px;float:left;overflow: hidden;position:relative;}
#banner #lunbo ul{position: absolute;left: 0;top: 0;}
#banner #lunbo ul li{height:438px;float: left;}
#banner #lunbo ul li img{width:1010px;height:438px;}
#banner #lunbo ol {position:absolute;right: 10%;bottom: 10px;z-index:6}
#banner #lunbo ol li{width: 20px;height: 20px;background: #fff;margin-left: 5px;float: left;line-height: 20px;text-align: center;cursor: pointer;border-radius: 10px;}
#banner #lunbo ol li.ac{background: red;color: #fff;}
#banner #lunbo>a{text-decoration: none;position: absolute;top: 50%;margin-top: -10px;height: 40px;line-height: 32px;text-align: center;width: 40px;font-size: 40px;vertical-align: middle;color: #fff;background: rgba(0,0,0,0.5);z-index:6;}
#banner #left{left: 0;}
#banner #right{right: 0;}

#banner #Floatingbar{width:190px;
                     height:438px;
                     float:left;
                     color:#333333;}
#banner #Floatingbar #Gonggao{width:100%;
                               height:229px;
                               }
#banner #Floatingbar #Gonggao h4{background: #C3C3C3;
                                font-size: 14px;
                                height:40px;
                                line-height: 40px;
                                padding-left: 21px;;}
#banner #Floatingbar #Gonggao ul li{padding:0 21px;
                                    height:30px;
                                    line-height: 30px;
                                    }
                                    
#banner #Floatingbar #ADS{width:190px;
                         height:210px;
                         }
#banner #Floatingbar #ADS a{display: block;
                              width:190px;
                              height:210px;}                        
#banner #Floatingbar #ADS a img{width:190px;
                                   height:210px;}

#tab{width:1200px;
    height:332px;
    margin: 0 auto;}




//column
.column{width:1200px;
          height:422px;
          margin:0 auto;
          }


//footer           
#footer{min-width:1200px;
        margin: 25px auto 0 auto;
        padding-bottom:50px;
        border-top:7px solid #de5251;
        width:1200px;}










